header {
  margin: 50px 0 20px;
  text-align: center;
  padding: 0 10px;
}

header h1 {
  font-weight: bold;
  margin-bottom: 12px;
  font-size: 28px;
  margin-top: 30px;
}

.content {
  max-width: 600px;
  margin: 0 auto;
}

.content h2 {
  font-size: 18px;
  font-weight: bold;
  margin: 40px 0 30px;
}

.content figure {
  display: block;
  text-align: center;
  margin: 20px 0;
}

.content figcaption {
  font-size: 12px;
  padding-top: 10px;
}

.content div.dropdown {
  margin: 20px auto;
  width: 130px;
}

.content blockquote p {
  font-size: 14px;
  padding: 15px 20px;
  border-left: 3px solid #edecf2;
  background-color: #f9f9fb;
}

/* ARC SLIDER */
.arc-slider {
    height: 10% !important;
    width: 50% !important;
    min-width: 200px;
    max-width: 400px;
    border: 1px none;
    overflow: hidden;
    padding: 15px;
    margin: 0 auto;
}

.TempLabel {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 55;
    font-size: xx-large;
}

.arc-slider-col {
    height: 10% !important;
    width: 50% !important;
    border: 1px none;
    overflow: hidden;
    padding: 15px;
}

.arc-slider .rs-container {
    margin-left: 5px;
    top: 10px;
}

.arc-slider .rs-tooltip {
    top: 85%;
    left: 50%;
}

.arc-slider .rs-tooltip-text {
    font-size: 20px;
}

.arc-slider .rs-border {
    border-width: 0px;
}

.rs-seperator {
    display: none !important;
}

/* Appearance related changes */
.rs-control .rs-range-color {
    background-color: #2222ee;
}

.rs-control .rs-path-color {
    background-color: #dd0000;
}

.rs-control .rs-handle {
    background-color: #2222ee;
    cursor: pointer;
    /*width: 10px !important;
    height: 10px !important;
    transform: translate(140%, 140%) !important;*/
}
